@import '~node_modules/modern-normalize/modern-normalize.css';

.is-hidden{
    display: none;
}
// .visually-hidden {
//     position: absolute;
//     white-space: nowrap;
//     width: 1px;
//     height: 1px;
//     overflow: hidden;
//     border: 0;
//     padding: 0;
//     clip: rect(0 0 0 0);
//     clip-path: inset(50%);
//     margin: -1px;
// }

body {
    background-color: $bg-body;
    color: $bg-dark;
    font-family: $font-poppins;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.75;
    letter-spacing: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
blockquote,
cite,
p {
    margin: 0;
}

.list {
    list-style-type: none;
    padding-inline-start: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;

    @media screen and (min-width: $mobile) {
        max-width: $tablet;
    }

    @media screen and (min-width: $tablet) {
        max-width: $tablet;
        padding: 0 32px;
    }

    @media screen and (min-width: $desktop) {
        max-width: $desktop;
        padding: 0 16px;

    }
}
