.gallery__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 32px;
}

.gallery__item {
    align-items: center;
    border: 1px solid $main-orange;
    border-radius: 4px;
}

.gallery__img{
    border-radius: 4px;
    justify-content: center;

    @media screen and (max-width: $mobile) {
        width: 278px;
        height: 280px;
    }
    
    @media screen and (min-width: $tablet) {
        width: 333px;
        height: 395px;
    }

    @media screen and (min-width: $desktop) {
        width: 393px;
        height: 395px;
    }
}

.gallery__text{
    font-style: normal;
    font-weight: 900;
    text-align: center;
    color: $bg-dark;
    margin-top: 20px;
    margin-bottom: 27px;

    @media screen and (max-width: $mobile) {
        font-size: 26px;
        line-height: 42px;
    }
    
    @media screen and (min-width: $tablet) {
        font-size: 28px;
        line-height: 33px;
    }

    @media screen and (min-width: $desktop) {
        font-size: 32px;
        line-height: 38px;
    }
}

.gallery__btn{
    margin-bottom: 28px;
}