.header {
  position: relative;
  padding: 20px 0;

  @media screen and(max-width: $desktop) {
    overflow: hidden;
  }
}
.flex-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media screen and(min-width: $desktop) {
    align-items: baseline;
  }
}

.header__icon {
  @media screen and(min-width: $tablet) {
    z-index: 2;
  }
  @media screen and(min-width: $desktop) {
    margin-right: 43px;
  }
}

.header__list {
  @media screen and(min-width: $desktop) {
    display: flex;
  }
}
.header__item {
  margin-bottom: 32px;

  &:last-child {
    margin-bottom: 0px;
  }
  @media screen and(min-width: $desktop) {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 10px 0px;
    margin-right: 60px;
    &:last-child {
      margin-right: 0;
      height: 35px;
    }
  }
  :hover {
    color: $main-orange;
  }
}

.header__link {
  font-size: 28px;
  line-height: 0.86;
  letter-spacing: 0.02em;
  @media screen and(min-width: $desktop) {
    font-size: 18px;
    line-height: 24px;
  }
}

.header__form {
  width: 280px;
}

.header__navigation {
  position: absolute;

  right: -100%;
  top: 0;
  width: 100%;
  height: 100vh;

  padding: 20px;
  transition: all 500ms linear;
  background-color: $bg-body;
  @media screen and(min-width: $tablet) {
    padding: 40px;
  }
  @media screen and(min-width: $desktop) {
    height: 100%;
    padding: 0;
    position: static;
  }
}
.navigation__flex {
  display: flex;
  flex-direction: column-reverse;
  top: 0;
  position: static;
  @media screen and(min-width: $tablet) {
    align-items: center;
  }
  @media screen and(min-width: $desktop) {
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }
}

.header-btn {
  text-align: center;
  color: #fff;
  letter-spacing: 0, 2;
  cursor: pointer;
  background-color: #fe7031;
  border: none;
  border-radius: 4px;
  padding: 12px 24px;
  font-family: Poppins, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
  transition: background-color 0.25s linear;
  display: inline-flex;
}
.is-open {
  right: 0;
}

.header__burger {
  z-index: 2;
  @media screen and(min-width: $desktop) {
    display: none;
  }
}

.header__search {
  display: flex;

  margin-bottom: 40px;
  @media screen and(min-width: $tablet) {
    margin-bottom: 0px;
  }
}
.tablet {
  display: none;

  @media screen and(min-width: $tablet) {
    display: flex;
  }
  @media screen and(min-width: $desktop) {
    display: none;
  }
}
.mobile {
  @media screen and(min-width: $tablet) {
    display: none;
  }
  @media screen and(min-width: $desktop) {
    display: flex;
  }
}
.header__search-text {
  width: 248px;
  height: 40px;
  padding-left: 10px;
  border: 1px solid $main-orange;
  border-radius: 0 5px 5px 0;
  outline: none;
  background: $bg-light;
  color: $bg-dark;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.02em;
}

.header__search-btn {
  width: 40px;
  height: 40px;
  border: 1px solid $main-orange;
  background: $bg-light;
  border-radius: 5px 0 0 5px;
  cursor: pointer;
}

.header__search-btn:before {
  font-size: 16px;
  color: $main-orange;
}

.dropbtn {
  font-size: 16px;
}

.dropdown-content {
  margin-top: 3px;

  display: none;
  color: $bg-dark;
  position: absolute;
  background-color: $bg-light;
  min-width: 210px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  //border: 1px solid $main-orange;
  border-radius: 5px;
  z-index: 1;

  @media screen and(min-width: $desktop) {
    top: 70px;
  }
}

.dropdown-content a {
  color: $bg-dark;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: $main-orange;
  //border: 1px solid $main-orange;
  color: $bg-light;
  border-radius: 5px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

// slser
.header__bg {
  display: flex;
  align-items: end;
  margin-bottom: 5px;

  margin-bottom: 47px;
  @media screen and(min-width: $tablet) {
    margin-left: -130px;
  }
  @media screen and(min-width: $desktop) {
    margin: 0;
  }
}

.header__light {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  //   font-size: 18px;
  font-size: 14px;
  line-height: 24px;
  color: $main-orange;
  @media screen and(min-width: $desktop) {
    font-size: 18px;
  }
}

.header__dark {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  //   font-size: 18px;
  font-size: 14px;
  line-height: 24px;
  @media screen and(min-width: $desktop) {
    font-size: 18px;
  }
}

.switch input {
  display: none;
}

.switch {
  width: 40px;
  height: 16px;
  margin: 0 10px;
  display: block;
  transform: translateY(-25%);
  @media screen and(min-width: $tablet) {
    height: 20px;
  }
}

.slider {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 30px;
  box-shadow: 0 0 0 2px $main-orange, 0 0 4px $main-orange;
  cursor: pointer;
  border: 4px solid transparent;
  overflow: hidden;
  transition: 0.2s;
}
input:checked + .slider {
  background-color: $main-orange;
}

.slider:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background-color: $main-orange;
  border-radius: 30px;
  transform: translateX(-24px);
  /*translateX(-(w-h))*/
  transition: 0.2s;
  @media screen and(min-width: $tablet) {
    transform: translateX(-20px);
  }
}

input:checked + .slider:before {
  transform: translateX(24px);
  /*translateX(w-h)*/
  background-color: white;
  @media screen and(min-width: $tablet) {
    transform: translateX(20px);
  }
}

input:checked + .slider {
  box-shadow: 0 0 0 2px $main-orange, 0 0 8px $main-orange;
}

.switch200 .slider:before {
  width: 200%;
  transform: translateX(-82px);
  /*translateX(-(w-h))*/
}
