.hero {
  padding: 60px 0 40px 0;

  @media screen and (min-width: $tablet) {
    padding: 132px 0 194px 0;
  }
  @media screen and (min-width: $desktop) {
    padding: 100px 0 192px 0;
  }
}
.hero__container {
  position: relative;
}
.hero__title {
  font-weight: 600;
  color: #fd5103;
  margin-bottom: 40px;

  font-size: 22px;
  line-height: 42px;
  max-width: 280px;

  @media screen and (min-width: $tablet) {
    font-size: 26px;
    line-height: 42px;
    max-width: 336px;
  }

  @media screen and (min-width: $desktop) {
    font-size: 52px;
    line-height: 80px;
    max-width: 688px;
  }
}

.hero__text {
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.02em;
  opacity: 0.8;
  margin-bottom: 40px;

  @media screen and (max-width: $tablet) {
    font-size: 18px;
    text-align: center;
  }

  @media screen and (min-width: $tablet) {
    font-size: 14px;
  }

  @media screen and (min-width: $desktop) {
    font-size: 18px;
  }
}

.hero__alphabet {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @media screen and (min-width: $tablet) {
    font-size: 26px;
    line-height: 42px;
    max-width: 336px;
    width: 324px;
  }

  @media screen and (min-width: $desktop) {
    font-size: 52px;
    line-height: 80px;
    max-width: 688px;
    width: 520px;
  }
}

.hero__alphabet {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  @media screen and (min-width: $tablet) {
    width: 324px;
  }
  @media screen and (min-width: $desktop) {
    width: 520px;
  }
}

.letterInLi {
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $text-gray;
  cursor: pointer;

  &:hover {
    -webkit-text-stroke: 1px black;
    color: $main-orange;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  @media screen and (max-width: $tablet) {
    display: none;
  }

  @media screen and (min-width: $tablet) {
    width: 24px;
    height: 25px;
    font-size: 14px;
    line-height: 21px;
  }

  @media screen and (min-width: $desktop) {
    width: 40px;
    height: 40px;
    font-size: 24px;
    line-height: 36px;
  }
}

.letterInLi--active {
  -webkit-text-stroke: 1px black;
  color: $main-orange;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.select-box {
  @media screen and (min-width: $tablet) {
    display: none;
  }
}
.hero__select {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding: 10px;
  gap: 14px;
  width: 93px;
  border: 1px solid $main-orange;

  border-radius: 4px;
  margin-bottom: 40px;
  background-color: var(--bg-color);
  display: none;
  position: absolute;
  right: 50%;
  transform: translateX(50%);
}
.select__header {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding: 10px;
  gap: 14px;
  width: 93px;
  border: 1px solid $main-orange;
  color: $main-orange;
  border-radius: 4px;
  background-color: var(--bg-color);
}

.hero__picture {
  @media screen and (max-width: $tablet) {
    display: block;
    margin-left: auto;
  }

  @media screen and (min-width: $tablet) {
    position: absolute;
    right: 0;
    top: -30%;
  }

  @media screen and (min-width: $desktop) {
    position: absolute;
    right: 0;
    top: -20%;
  }
}
