:root {
    --bg-color: #FCFCFC;
    --bg-text: #202025;
}

$bg-body: #D9D9D9;
$bg-light: #FCFCFC;
$bg-dark:#202025;
$text-gray: #5F6775;
$bg-btn: #FE7031;
$text-btn: #FFF;
$bg-btn-white: #F5F5F5;
$main-orange: #FD5103;

$font-poppins: 'Poppins', sans-serif;
$font-roboto: 'Roboto', sans-serif;