<header class="header container">
    <img src="./images/icon.png" alt="Іконка" class="header__icon">
    <ul class="header__list">
        <li class="header__item">
            <a href="">Home</a>
        </li>
        <li class="header__item">
            <a href="">Favorite</a>
        </li>
    </ul>

    <form action="" id="form" class="a">
        <button type="submit" id="button" class="c">
            <img src="./images/bx_search.png" width="24" height="24" alt="Пошук">
        </button>
        <input type="text" id="input" placeholder="Search |" class="b">
    </form>


    <div class="header__bg">
        <p class="header__light">Light</p>
        <div class="header__switch">
            <label class="switch">
                <input type="checkbox">
                <span class="slider"></span>
            </label>
        </div>
        <p class="header__dark">Dark</p>
    </div>

</header>

<!--class="header__form"-->