<section class="hero">
  <div class="container hero__container">
    <h2 class="hero__title">A party without cocktails is not like a party</h2>

    <picture>
      <source
        srcset="
          ./images/cocktail-held-in-hand-big.png    1x,
          ./images/cocktail-held-in-hand-big@2x.png 2x
        "
        media="(min-width:1280px)"
      />
      <source
        srcset="
          ./images/cocktail-held-in-hand-middle.png    1x,
          ./images/cocktail-held-in-hand-middle@2x.png 2x
        "
        media="(min-width:768px)"
      />
      <source
        srcset="
          ./images/cocktail-held-in-hand-small.png    1x,
          ./images/cocktail-held-in-hand-small@2x.png 2x
        "
        media="(min-width:320px)"
      />
      <img
        src="./images/cocktail-held-in-hand-small.png"
        alt="коктейль"
        class="hero__picture"
      />
    </picture>

    <p class="hero__text">Search your favorite cocktail by ABC</p>
    <ul id="alphabet" class="hero__alphabet"></ul>
    <select name="select" class="hero__select"></select>
  </div>
</section>
